html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: #333;
	background-size: cover;
	overflow: hidden;
}

canvas {
	position: absolute;
	background-image: url(assets/sky_bg.png);
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
